extends layout

block content
<<<<<<< HEAD
  .container
    .panel.panel-danger(style='margin-top:2em')
      .panel-heading
        h3.panel-title= message
      .panel-body
        p= error.status
    pre #{error.stack}
=======
  h1= message
  h2= error.status
  pre #{error.stack}
>>>>>>> aa854801459c1dd6be67a2fa312b5f48f91b6cd0
